.bbuying-list-container {
    border: 1px solid #cecece;
    margin-top: 25px;
}

.buying-list {
    margin-top: 25px;
}

.buying-list__row-sm {
    width: 10%;
}

.buttons-section {
    margin-top: 15px;
}

body {
    background: lightgray;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 30px;
}
